body  {
  background-color: #F6F6F6;
}

.logo img {
  width:160px;
  margin-right: 30px;
}

.logo ul{
  list-style-type: none;
  float:right;
  columns: 5;
  font-size: 0.75em;
}

.container {
}

.side-bar {
  display: inline-block;
  columns: 1;
}
